.main {
	width: 250px;
	padding: 5px;
}

.todolist {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.category {
	display: flex;
	width: 100px;
	justify-content: center;
	cursor: pointer;
	padding: 10px;
	color: rebeccapurple;
	font-weight: 700;
}
